@model Ogloszenia_Studenckie.Konto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Account/Login.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Konto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haslo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rola)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Konto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
