@model Ogloszenia_Studenckie.Models.RegisterVM
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Użytkownik</legend>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Nazwa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nazwa)
            @Html.ValidationMessageFor(model => model.Nazwa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.E_Mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.E_Mail)
            @Html.ValidationMessageFor(model => model.E_Mail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Imie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Imie)
            @Html.ValidationMessageFor(model => model.Imie)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nazwisko)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nazwisko)
            @Html.ValidationMessageFor(model => model.Nazwisko)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Haslo)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Haslo);
            @Html.ValidationMessageFor(model => model.Haslo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}