<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ogłoszenia studenckie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <div style="display:inline-block; padding:8px">
                            @Html.ActionLink("Dodaj Swoje ogłoszenie", "Create", "Ogloszenies", null, new { @class = "btn btn-default" })
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    
    <div class="container body-content">
        <div class="page-header" style="margin-top:-5px; ">
            
            @using (Html.BeginForm("Index", "Ogloszenies", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-inline well well-sm", role = "form" }))
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="szuk" placeholder="Szukaj">
                    <div class="input-group-addon" style="padding:0;border:0; width:160px">
                        <select class="form-control" name="kat" id="sel1">
                            <option value="">Wszystkie kategorie</option>
                            <option value="3">Social</option>
                            <option value="1">Studia</option>
                            <option value="4">Kwaterunek</option>
                            <option value="5">Sprzedam</option>
                            <option value="6">Praca</option>
                            <option value="7">Inne</option>
                        </select>
                    </div>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
              }
             
            <div class="well panel-group" id="acc" style="margin:0px;padding-bottom:0px;padding-top:0px; text-align: center;">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                Studia
                                
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=1">Studia</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=2">Notatki</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=8">Korepetycje</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=9">Drukowanie</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=10">Konstultacje projektowe</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2"> 
                        <div class="dropdown">
                              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                              
                              Kwaterunek
                              </button>
                              <ul class="dropdown-menu">
                                  <li><a href="@Url.Action("Index","Ogloszenies")?kat=3">Kwaterunek</a></li>
                                  <li class="divider"></li>
                                  <li><a href="@Url.Action("Index","Ogloszenies")?kat=11">Akademiki</a></li>
                                  <li><a href="@Url.Action("Index","Ogloszenies")?kat=12">Pokoje</a></li>
                                  <li><a href="@Url.Action("Index","Ogloszenies")?kat=13">Szukam</a></li>
                                  <li><a href="@Url.Action("Index","Ogloszenies")?kat=14">Meta</a></li>
                              </ul>
                        </div> 
                    </div>
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                Social
                                
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=4">Social</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=15">Imprezey</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=16">Kluby studenckie</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=17">Wyjazdy</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=28">Wolątariat</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=30">Na chwilę</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="display:inline-block">
                                Sprzedam
                                
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=5">Sprzedam</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=18">Elektronika</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=19">Meble</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=20">AGD&RTV</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=22">Jedzenie i picie</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=21">Motoryzacja</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=23">Ubrania</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=24">Sprzęt Sportowy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                Praca
                                
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=6">Praca</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=25">Praktyki</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=26">Praca dorywcza</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=27">Praca wakacyjna</a></li>
                                <li><a href="@Url.Action("Index","Ogloszenies")?kat=28">Stała praca</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="dropdown">
                            <a href="@Url.Action("Index","Ogloszenies")?kat=7" class="btn dropdown-toggle" >
                                Inne
                                
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
